/* CSS Document */
@font-face {font-family:poppins-r;src:url("font/Poppins/Poppins-Regular.ttf");}
@font-face {font-family:poppins-b;src:url("font/Poppins/Poppins-Bold.ttf");}
@font-face {font-family:poppins-m;src:url("font/Poppins/Poppins-Medium.ttf");}
html, body{font:16px/21px poppins-r;color: #24292e;width: 100%;height: 100%;line-height: 1.5;background: #FFF;}
.clear{clear:both;}
.hiden{display:none;}
a{color: #fff;text-decoration: none;}
a:hover{text-decoration: none;color: #8077FF;}
button:focus{outline:none;}
h3{line-height: 20px;}
.ps-40{padding-left: 40px;position: relative;line-height: 40px;}
.btn-check:focus + .btn, .btn:focus{box-shadow: none;}
.ul-none{list-style: none;padding: 0;margin: 0;}
.after-none:after{display: none;}
.violet{color: #8077FF;}
.font-m-18{font:18px/27px poppins-m;}
.form-control:focus{box-shadow:none;}
.bg-5{background: #242731;border: 1px solid #303441;border-radius: 5px;}
.search-box input, .search-colletion input{width: 430px;padding: 1px 10px;font: 14px/36px poppins-r;border-radius: 5px;padding-left: 40px;
background: #242731 !important;border-color: #303441;}
.search-box button{width: 40px;height: 40px;}
.ui-menu{z-index: 69;background: #242731;color: #fff;border-radius: 10px;box-shadow: 0 10px 20px rgb(107 106 106 / 20%);
list-style: none;width: 430px;padding: 10px 0;}
.ui-menu li{padding: 0 15px;font:15px/36px poppins-m;}
.wallet{font: 16px/30px poppins-m;}
.wallet:hover{background: linear-gradient(92.44deg, #C24CFF 25.23%, #8077FF 81.99%);}
.menu-h{color: #C4C4C4;font-size: 22px;letter-spacing: 2px;}
.menu-h:hover{color: #fff;}
.activity{background: linear-gradient(92.44deg, #C24CFF 25.23%, #8077FF 81.99%);font:10px/20px poppins-r;
width: 40px;}
.item-menu{color: #808191;}
.item-menu:hover{color: #f8f9fa;font-family: poppins-m}
.menu-more:before{content: "";position: absolute;left: 0;bottom: 0;width: 1px;height: 20px;background: #C4C4C4;}
.caption-slide{position: absolute;right: 0;top:30%;}
.caption{max-width: 690px;}
.caption h5{font:30px/45px poppins-r;}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus{font-family: poppins-m;}
.nav-tabs .nav-link{font-size: 18px;}
.border-tk{    background: #242731;border:1px solid #303441;border-radius: 10px;}
.tk1{background: #2CB9A9;width: 60px;height: 60px;}
.tk1 img{margin-top: 14px;width: 33px;}
.detail-tk h6{color: #808191;font-size: 16px;}
.num-tk1{font:24px/30px poppins-b;}
.tk2{background: #5073E4;width: 60px;height: 60px;}
.tk2 img{margin-top: 12px;}
.num-tk2{font:30px/40px poppins-b;}
.num-tk2 span{color: #808191;font:24px/40px poppins-r;}
.tk3{background: #7233D8;width: 60px;height: 60px;}
.tk3 img{margin-top: 15px;}
.tit-seller button{color: #fff;}
.tit-seller{font:30px/40px poppins-b;}
.tit-seller button{color: #635EBE;font:30px/40px poppins-b;}
.tit-seller .dropdown-toggle::after{margin-left: 0px;font-size: 24px;}
.tit-seller button:hover{color: #C24CFF;}
.tit-seller .btn-check:focus + .btn,.tit-seller .btn:focus{box-shadow:none;}
.stt-sl{font:16px/50px poppins-m;color: #808191;}
.avata-sl{width: 50px;height: 50px;border: 1px solid #8077FF;}
.avata-sl img{width: 100%;height: 100%;}
.name-sl{font:18px/30px poppins-m;}
.chiso-sl{color: #808191;font-size: 16px;}
.tich-sl{width: 21px; height:21px;background: url(../image/box.png) no-repeat;line-height: 21px;color: #000;}
.img-sp{height: 430px;}
.img-sp:hover{color: #fff;}
.time-bid{font: 15px/35px poppins-m;}
.time{color: #7FBA7A;font-family: poppins-r;}
.plate-bid{font-size: 15px;line-height: 25px;border: 1px solid #303441;}
.group-sp{border-color: #8077FF !important;background: url(../image/check.png) 103px center no-repeat #242731;
font: 12px/25px poppins-m;bottom: -12px;padding-right: 37px;}
.list-sp, #nav-tab-1{margin-top: -1rem;}
.sp-item:hover{background: #303441;margin-top: 10px !important;box-shadow: rgb(125 124 124 / 25%) 0px 0px 8px 0px;
    transition: all 0.1s ease 0s;}
.sp-item:hover .plate-bid{background: linear-gradient(133.63deg, #C24CFF 30.66%, #8077FF 85.75%);}
.sp-item h3{height: 30px;}
.sp-item h3 a{font:20px/30px poppins-m;}
.dolla{font:16px/27px poppins-r;color: #fff;}
.code-sp{background: #8077FF;line-height: 35px;right: -5px;}
.product-h h2{font:30px/45px poppins-b}
.owl-dots{position: absolute;width: 100%;bottom: 0;}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
position: absolute;top: 50%;margin: 0;margin-top: -25px;width: 48px;height: 48px;
border: 1px solid #808191;border-radius: 50%;}
.owl-carousel .owl-nav button.owl-prev{left: -23px;background: url(../image/pre.png) center center no-repeat #33353B;}
.owl-carousel .owl-nav button.owl-next{right: -23px;background: url(../image/next.png) center center no-repeat #33353B;}
.owl-carousel .owl-nav button.owl-next span, .owl-carousel .owl-nav button.owl-prev span{display: none;}
.owl-carousel .owl-nav button.owl-prev:hover{background: url(../image/pre-h.png) center center no-repeat #808191;}
.owl-carousel .owl-nav button.owl-next:hover{background: url(../image/next-h.png) center center no-repeat #808191;}
.avata-coll{border:1px solid #8077FF;padding: 2px;}
.avata-coll img{width: 52px !important;height: 52px;}
.avata-box{margin-top: -29px;}
.code-coll{color: #C4C4C4;}
.tit-exp h2{font: 30px/45px poppins-b;}
.sort .dropdown-toggle::after{display: none;}
.a-sort{background: url(../image/fill.png) 20px center no-repeat;}
.tab-exp{width: 915px;overflow: hidden;overflow-x: auto;height: 60px;padding-bottom: 10px;}
.tab-exp .nav-tabs{border: none;flex-wrap: nowrap;}
.tab-exp::-webkit-scrollbar {height: 5px; }
.tab-exp::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #242731; 
    -webkit-border-radius: 10px;
    border-radius: 10px;} 
.tab-exp::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #8077FF; 
    -webkit-box-shadow: inset 0 0 6px #242731;}
.nav-exp .nav-link{margin-right: 15px;}  
.nav-exp button{border: 1px solid #fff !important; border-radius: 30px !important;padding: 0 25px;
font:16px/38px poppins-m;color: #fff;}
.tab-exp .nav-tabs .nav-link.active, .tab-exp .nav-tabs .nav-item.show .nav-link, 
.tab-exp .nav-tabs .nav-link:hover, .tab-exp .nav-tabs .nav-link:focus{
background: linear-gradient(92.44deg, #C24CFF 25.23%, #8077FF 81.99%);}
.load-more a{background: linear-gradient(92.44deg, #C24CFF 25.23%, #8077FF 81.99%);font-size: 18px;
	line-height: 29px;}
.load-more a:hover{color: #fff;background: #8077FF}
footer{border-top: 1px solid #303441;color: #808191;}
#language{font:15px/28px poppins-r;background: #303441;}
.menu-f ul a{font:16px/24px poppins-r;color: #808191;}
.menu-f ul a:hover{color: #8077FF;}
.dropdown-menu{background: #242731;color: #fff;border-radius: 10px;box-shadow: 0 10px 20px rgb(0 0 0 / 20%)}
.dropdown-item{color: #fff;padding: 0.4rem 1.5rem;font-size: 15px;}
.email-send button{background: url(../image/send.png) center center no-repeat;width: 42px;height: 42px;}
.isocial-f a{width: 33px; height: 33px;background: url(../image/isocia.png) no-repeat;}
.isocial-f .twitter{background-position:0px -4px;}
.isocial-f .mail{background-position:-60px -4px;}
.isocial-f .intergram{background-position:-115px -4px;}
.isocial-f .iso-1{background-position:-169px -4px;}
.isocial-f .youtube{background-position:-227px -4px;}
.isocial-f .iso-2{background-position:-285px -4px;}
.crea-page{border-top: 1px solid #303441;}
.tem-pri {margin-top: -23px;}
.a-notify{color: #DADADA;}
.a-notify:hover{color: #8077FF;}
.a-notify:after{display: none;}
.ava-user img{width: 32px;height: 32px;}
.acc-user > span{font-family: poppins-m;}
.acc-user p{font:14px/20px poppins-r;}
.row-seller{width: 1355px;}
.search-mb{display: none;}
.ui-helper-hidden-accessible{display: none;}
.col-left{width: 340px;padding:0 1.5rem;}
.col-right{width: calc(100% - 340px);
    width: -moz-calc(100% - 340px);
    width: -webkit-calc(100% - 340px);}
.col-right, .head-page{border-color: #303441 !important;}
.container-full{    padding: 0 1.5rem;width: 100%;}
.search-colletion button{height: 40px;width: 40px;}
.search-colletion input{width: 100%;}
.box-scroll{overflow-y: auto !important; height: 235px;}
.box-scroll::-webkit-scrollbar {width: 5px; }
.box-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #242731; 
    -webkit-border-radius: 10px;
    border-radius: 10px;} 
.box-scroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #8077FF; 
    -webkit-box-shadow: inset 0 0 6px #242731;}
.img-scroll{line-height: 24px;padding: 1px;border-color: #242731 !important;}
.img-scroll img{width: 24px;height: 24px;}
.ul-scroll .bt-main{font: 15px/28px poppins-r;color: #808191;}
.ul-scroll .bt-main:hover, .ul-scroll > li.active > .bt-main, .ul-scroll-2 > li.active .bt-main{color: #fff;}
.ul-scroll .bt-main:hover .img-scroll, .ul-scroll > li.active > .bt-main .img-scroll{border-color: #8077FF !important;}
.unselect-b{right: 5px;box-shadow: none; display: none;}
.unselect-b2{right: 9px;box-shadow: none;top: 1px; display: none;}
.ul-scroll > li.active > .unselect-b, .ul-scroll-2 > li.active > .unselect-b2{display: block}
.ul-scroll-2{display: none;}

.check-fil input{width: 20px;height: 20px;border-color: #fff;}
.form-check-input:checked {background-color: #8077FF;border-color: #8077FF;}
.form-check-input:focus{box-shadow: 0 0 0 0.25rem rgb(128 119 255 / 25%);border-color: #8077FF;}
.form-select{background-image: url(../image/down.png);font: 14px/24px poppins-r;}
.sale-select{width: 160px;}
.search-game{width: 320px;}
.sale-listing{width: 220px;}
.sell-nft{background: linear-gradient(92.44deg, #C24CFF 25.23%, #8077FF 81.99%);font-size: 18px;line-height: 24px;padding-left: 35px;
padding-right: 35px;}
.sell-nft:hover{color: #fff;background: #8077FF;}
.chosse a{padding-left: 25px;padding-right: 25px;border-color: #303441 !important;background: #242731;}
.chosse a:hover, .chosse a.active{background: linear-gradient(133.63deg, #C24CFF 30.66%, #8077FF 85.75%);
border: 1px solid #303441 !important; color: #fff;}
.header-page{border-bottom: 1px solid #303441;}
.email-send input{border-color: #808191 !important;}
#sync1 .item{height: 480px;}
#sync1 .item img, .thum-box img{width: auto !important;}
.thum-box{height: 155px;}
.name-sales{font:15px/21px poppins-r;}
.drop-none{padding: 0;margin: 0;border:none;}
.drop-none:after{display: none;}
.icon-task button, .icon-task button:hover{color: #DADADA;}
.h1-page{font:30px/45px poppins-b;}
.inf-saller li{font:16px/26px poppins-b;}
.inf-saller li span{font-family: poppins-m}
.font-nomal{font-family: poppins-r;}
.lable{font:14px/21px poppins-r;color: #808191;}
.content-lab{font:20px/36px poppins-m;}
.content-lab h4{font-size: 24px;}
.fire-mint{margin-top: -6px;}
.price-pr{padding-left: 30px;font:30px/50px poppins-b;background: url(../image/icon-price.png) left center no-repeat;}
.price-dola{font:20px/45px poppins-r;color:#808191;}
.buy-button{background: #EDBB09;font:24px/60px poppins-b;color: #242731;padding: 0 40px;}
.tit-small {border-bottom: 1px solid #33353B;padding-left: 50px;padding-right: 15px; font: 18px/50px poppins-r;
	background-repeat: no-repeat;background-position: 20px center;}
.chart-pr{background-image: url(../image/chart.png);}
.num-chart {margin-top: -3px;line-height: 22px;}
.tit-avg{font-size: 14px;}
.sum-price{font-size: 18px;}
.accordion-button::after{background-image: url(../image/down.png);width: 12px;height: 8px;background-size: auto;}
.accordion-button:not(.collapsed)::after{background-image: url(../image/down.png);}
.accordion-button:focus{border:none;box-shadow: none;}
.accordion-body{background: #1F222C}
.inf-des{background-image: url(../image/drop-icon-1.png);}
.hide-show {right: 15px;top:0;}
.hide-i{width: 12px;height: 8px;display: inline-block;background: url(../image/down.png) center no-repeat;}
.show-i{display: none;width: 12px;height: 8px;background: url(../image/up.png) center no-repeat;}
.tag-trade li{border-color: #8077FF !important;font-size: 18px;line-height: 50px;}
.fill-tra {background: #1F222C;}
.table-trading{background:#242731;    border-color: #33353B;}
.table-trading thead{background: #303441;}
.table-trading th{    font: 16px/24px poppins-r !important;}
.table-trading tbody{line-height: 33px;}
.table-trading tr {border-bottom: 1px solid #43485B;}
.table > :not(:last-child) > :last-child > *{    border-bottom: 1px solid #43485B;border-top: 1px solid #43485B;}
.unit-p{padding-left: 30px;background: url(../image/icon-price.png) left center no-repeat;background-size: 20px 20px;}
.table-trading > :not(caption) > * > *{padding: 0.5rem 0.5rem 0.5rem 2rem;}
.date-trad{padding-right: 25px;background: url(../image/launch.png) right center no-repeat;}
.tbody-scroll{overflow-y: auto !important; height: 300px;}
.tbody-scroll::-webkit-scrollbar {width: 5px; }
.tbody-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #242731; 
    -webkit-border-radius: 10px;
    border-radius: 10px;} 
.tbody-scroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #8077FF; 
    -webkit-box-shadow: inset 0 0 6px #242731;}
.more-collec h2 {background-image: url(../image/table-chart.png);}
.sp-x{flex-wrap: nowrap;}
.sp-x .sp-item{display: table;width: 325px;}
.flex-sp{overflow-x: auto !important;}
.flex-sp::-webkit-scrollbar {height: 5px; }
.flex-sp::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #242731; 
    -webkit-border-radius: 10px;
    border-radius: 10px;} 
.flex-sp::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #8077FF; 
    -webkit-box-shadow: inset 0 0 6px #242731;}
.sp-more{background: #1F222C;}
.view-colec{background: #242731;border-top: 1px solid #33353B; font:18px/70px poppins-b;}
.note-nft{background: #303441;border: 1px solid #FE6363;color: #FE6363;font:18px/27px poppins-r;}
.und-button {background: #FE6363;}
.btn-close{right: 10px;top: 10px; background: none;width: auto;height: auto;}
.modal-dialog {max-width: 1070px;}
.inf-pop h4{font:30px/45px poppins-b;}
.type-pop{font:20px/30px poppins-b;}
.des-pop{background: #7FBA7A;border-radius: 10px;}
.des-pop a{color: #333;}
.attributes .row, .price-pop .row{margin-bottom: 10px;}
.button-p1 a{background: #EDBB09;font:20px/50px poppins-b;color: #242731;padding: 0 120px;}
#sync2 .owl-nav button.owl-next, #sync2 .owl-nav button.owl-prev{width: 30px;height: 30px;margin-top: -15px;
background-size: 8px 12px;}
#sync2 .owl-nav button.owl-prev{left: -15px;}
#sync2 .owl-nav button.owl-next{right: -15px;}
.table-place table{border: 1px solid #303441;border-radius: 5px;}
.table-place tbody{background: #20222C}
.table-place .table-trading thead{background: #242731;}
.sale-end{border-bottom: 1px solid #303441; color: #E22020;font-size: 14px;line-height: 50px;}
.sale-end span, .bid-box p span{font-family: poppins-b;}
.yellow{color: #EDBB09;}
.inf-pop{font-family: 'poppins-m';}
.bid-price{max-width: 600px; background: #303441;line-height: 44px;}
.bid-box .form-control:focus{background: #303441;}
.head-prf{border-bottom: 1px solid #303441;}
.box-container{min-height: 830px;}
.cont-l{width: 335px;height: 100%;background: #242731;border: 1px solid #33353B;border-top: 0;border-bottom: 0;}
.user-prof{border-bottom: 1px solid #303441;}
.avata-prof a{border-color: #8077FF !important;padding: 2px;width: 76px;height: 76px;}
.avata-prof span{width: 70px;height: 70px;}
.avata-prof span img{max-width: 100%;}
.name-prof{font: 16px/24px poppins-b;}
.u-name{font-size: 14px;color: #808191;}
.menu-prof{height: calc(100% - 166px);overflow: hidden;overflow-y: auto;}
.menu-prof::-webkit-scrollbar {width: 5px; }
.menu-prof::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #242731; 
    -webkit-border-radius: 10px;
    border-radius: 10px;} 
.menu-prof::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #8077FF; 
    -webkit-box-shadow: inset 0 0 6px #242731;}
.menu-prof, .menu-prof a{color: #C4C4C4;}
.menu-prof a:hover{color: #8077FF;;}
.box-1 h4{background: #303441;border-radius: 5px;font: 17px/40px poppins-m;}
.ps-40 img{left: 10px;top: 10px;position: absolute;}
.acc-setting{font: 17px/40px poppins-m;}
.ul-c2 a{line-height: 40px;}
.ul-c2 a:before{content: "_"; position: absolute;top: 10px;left: 15px;line-height: 5px;}
.tit-c1 .accordion-button:not(.collapsed), .tit-c1 .accordion-button:hover{box-shadow: none;
    background: #303441 !important;}
.tit-c1 .accordion-button{border-radius: 5px;color: #c4c4c4 !important;padding-left: 40px !important;}
.tit-c1 .accordion-button::after{margin-right: 15px;}
.tit-c1 button img{height: 18px;top: 8px;}
.cont-r{padding-left: 360px;}
.bg-acc{height: 212px;}
.ava-main{padding-top: 70px;background: linear-gradient(0deg, rgba(0, 0, 0, 0.64) 9.7%, rgba(43, 47, 58, 0.0660317) 63.16%, rgba(48, 52, 65, 0) 83.95%);}
.div-ava span{width: 70px;height: 70px;}
.div-ava{border-color: #8077FF !important;padding: 2px;width: 76px;height: 76px;}
.div-ava .u-name{color: #DADADA;}
.status{font: 14px/22px poppins-m;}
.bg-prf{background: #242731;border: 1px solid #33353B;}
.bg-prf h1{font: 18px/27px poppins-b;border-bottom: 1px solid #33353B;}
.form-g input{background: #1F2128;border: 1px solid #303441;border-radius: 5px;color: #808191;
line-height: 26px;}
.btn-gene{background: linear-gradient(133.63deg, #C24CFF 30.66%, #8077FF 85.75%);border-radius: 5px;
padding: 0 55px;font: 18px/44px poppins-b;border: none}
.file-input{right: 15px;bottom: 15px;cursor: pointer;}
.file {opacity: 0;width: 0.1px;height: 0.1px;position: absolute;line-height: 12px;}
.change-ava{bottom: 0;right: 0;background: #8077FF;width: 24px;height: 24px;text-align: center;line-height: 24px;}
.bgimg-ava{object-fit: cover;width: 100%;height: 100%;}
.close-cont-l{top: 15px; right: 15px;}
.search-inven{width: 530px;}
.filter-inven select{width: 250px;}
.inf-inven{padding: 0;width: 220px;margin: 0 auto;}
.list-market{background: linear-gradient(133.63deg, #C24CFF 30.66%, #8077FF 85.75%);line-height: 40px;font-family: poppins-b;}
.cancel-lis{line-height: 40px;font-family: poppins-b;background: #E22020;}
.list-market:hover, .cancel-lis:hover{box-shadow: 0 0 5px 0 #fff;}
.dr-more > a{border: 1px solid #303441;font: 15px/35px poppins-r;width: 105px;}
.sp-item:hover .dr-more a, .sp-item:hover .more-list > span{border-color: #fff;}
.dr-more > a:hover{background: #8077FF;}
.more-list{font: 15px/35px poppins-r;}
.more-list > span{height: 37px;text-align: center;width: 105px;border: 1px solid #303441;
cursor: pointer;background: url(../image/down.png) 80px 16px no-repeat;background-size: 9px auto;}
.more-list:hover > span{background-color: #8077FF;}
.ul-more{background: #242731;border: 1px solid #fff;display: none;}
.ul-more li img{left: 10px;top: 10px;}
.ul-more li a{min-width: 200px;text-align: left;}
.search-li{width: 545px;}
.edit-pr{background: #E22020;}
.tit-page{font: 18px/27px poppins-b}
.filter-listing{border-bottom: 1px solid #33353B;}
.col-wr{width: 30%;}
.col-wl{width: 70%;}
.w-60{width: 60%;}
.w-80{width: 80%;}
.input-bg{line-height: 26px;}
.time-inp span{right: 24px;top: 9px;}
.table-data{border: 1px solid #303441;border-radius: 5px;}
.table-data tbody tr td {color: #808191;}
.data-pr{color: #8077FF;font-family: poppins-b;}
.data-pr span{font-family: poppins-r;color: #fff;}
.pop-b{font-family: poppins-b;}
.button-bg{background: linear-gradient(133.63deg, #C24CFF 30.66%, #8077FF 85.75%);line-height: 40px;font-family: poppins-b;padding: 0 30px;}
.confirm{font: 24px/50px poppins-b;padding: 0 100px;}
.receive span{font-family: poppins-b;}
.price{position: relative;}
.favorite{background: url(../image/fa-bef.png) no-repeat;top: 4px;width: 22px;height: 19px;}
.favorite:hover{background-image: url(../image/fa-hover.png);}
.favorite.active{background-image: url(../image/fa-active.png);}
.st-price{line-height: 38px; color: #fff;}
.st-price input{color: #fff;padding: 0 15px;}
.st-price select{width: 100px;}

@media only screen and (min-width: 1400px){
	.show-product .img-sp{height: 250px;}
}
@media only screen and (min-width: 1500px){
	.show-product .img-sp{height: 283px;}
}
@media only screen and (min-width: 1800px){
	.show-product .img-sp{height: 420px;}
}
@media only screen and (max-width: 1480px){
	.col-right .search-box input{width: 350px;}
    .cont-l {width: 300px;}
    .cont-r {padding-left: 325px;}
    .bg-acc {height: 167px;}
    .search-inven {width: 305px;}
    .show-product-inven .img-sp {height: 315px;}
    .search-li {width: 320px;}
	.num-tk2{font-size: 26px;}
	.num-tk2 span{font-size: 18px;line-height: 26px;}
	.img-sp{height: 368px;}
	.font-m-18 {font-size: 16px;}
	.nav-tabs .nav-link {font-size: 16px;line-height: 34px;}
	.nav-exp .nav-link {margin-right: 10px;}
	.tab-exp {width: 830px;}
	.list-seller{overflow: hidden;overflow-x: auto;}
	.list-seller::-webkit-scrollbar {height: 5px; }
	.list-seller::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #242731; 
    -webkit-border-radius: 10px;
    border-radius: 10px;} 
	.list-seller::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #8077FF; 
    -webkit-box-shadow: inset 0 0 6px #242731;}
    .sale-listing, .sale-select {width: auto;}
    .search-game {width: 280px;}
    .filter-listing select{width: 220px;}
    .search-li{width: 320px;}
    .w-60{width: 80%;}
    .row-seller {width: 1480px;}
    .more-collec .sp-x .sp-item{width: 260px;}
    .more-collec .img-sp {height: 320px;}
}
@media only screen and (max-width: 1280px){
    .filter-top .chosse {width: 100%;}
    .filter-top .search-game {width: 330px;}
}
@media only screen and (max-width: 1230px){
	.caption-slide {top: 10%;}
	.caption {max-width: 60%;}
	.caption h5 {font: 24px/38px poppins-r;}
	.num-tk2 svg{width: 20px;}
	.num-tk2{line-height: 30px;}
	.detail-tk h6{margin-bottom: 5px !important;}
	.tab-tk{height: 119px;}
	.tab-exp {width: 620px;}
	.search-box input{width: 290px;}
	.row-seller {width: 1190px;}
	.col-left {width: 270px;}
	.col-right {width: calc(100% - 270px);width: -moz-calc(100% - 270px);width: -webkit-calc(100% - 270px);}
	.col-right .menu-top {position: absolute;z-index: 9999;right: 0;top: 100%;background: #242731;color: #fff;border-radius: 10px;
		box-shadow: 0 10px 20px rgb(0 0 0 / 20%);display: none;}
	.col-right .menu-top{position: absolute;z-index: 9999;right: 0;top: 100%;background: #242731;color: #fff;
    border-radius: 10px;box-shadow: 0 10px 20px rgb(0 0 0 / 20%);display: none;}
	.col-right .menu-mb {color: #DADADA; cursor: pointer;}
	.col-right .row-seller {width: 1300px;}
	.col-right .item-menu {margin: 0 !important;padding: 0.4rem 1.5rem;width: 100%;min-width: 200px;}
	.col-right .a-menu-more{display: none;}
	.col-right .menu-more .dropdown-menu{display: block;position: relative;background: none;border: none;padding: 0;box-shadow: none;}
	.col-right .menu-more{padding: 0 !important;margin: 0 !important;}
	.col-right .menu-more .dropdown-item{color: #808191;font-size: 16px;line-height: 21px;}
	.col-right .menu-more .dropdown-item:hover,.menu-more .dropdown-item:focus, .menu-more .dropdown-item:active{
		background: none !important;color: #fff;}
	.img-sp {height: 330px;}
	.show-product .img-sp{height: 400px;}
	.modal-dialog{max-width: 80%;}
	.thum-box {height: 106px;}
	#sync1 .item {height: 391px;}
	.table-trading > :not(caption) > * > * {padding: 0.5rem;}
    .cont-l {width: 250px;}
    .cont-r {padding-left: 275px;}
    .search-inven{width: 100%;}
    .search-li {width: 433px;}
    .w-60, .w-80{width: 100%;}
    .more-collec .sp-x .sp-item {width: 284px;}
    .more-collec .img-sp {height: 352px;}
}
@media only screen and (max-width: 1100px){
	.search-game {width: 230px;}
}
@media only screen and (max-width: 992px){
	.caption h5 {font: 18px/30px poppins-r;}
	.menu-top{position: absolute;z-index: 9999;right: 0;top: 100%;background: #242731;color: #fff;
    border-radius: 10px;box-shadow: 0 10px 20px rgb(0 0 0 / 20%);display: none;}
	.menu-mb {color: #DADADA; cursor: pointer;}
	.row-seller {width: 1300px;}
	.item-menu {margin: 0 !important;padding: 0.4rem 1.5rem;width: 100%;min-width: 200px;}
	.a-menu-more{display: none;}
	.menu-more .dropdown-menu{display: block;position: relative;background: none;border: none;padding: 0;box-shadow: none;}
	.menu-more{padding: 0 !important;margin: 0 !important;}
	.menu-more .dropdown-item{color: #808191;font-size: 16px;line-height: 21px;}
	.menu-more .dropdown-item:hover,.menu-more .dropdown-item:focus, .menu-more .dropdown-item:active{
		background: none !important;color: #fff;}
	.a-sort{text-indent: -99999px;    padding-left: 2.2rem !important;}
	.tab-exp {width: 490px;}
	.tab-tk {height: auto;}
	.menu-more:before{display: none;}
	.col-left{position: fixed;left: 0;height: 100%;z-index: 96;background: #1F2128;width: 380px;display: none;
		box-shadow: rgb(125 124 124 / 25%) 0px 0px 8px 0px  ;}
	.col-right{width: 100%;}
	.close-col-left{right: 1.5rem;margin-top: -13px;}
	.img-sp {height: 420px;}
	.select-trading{width: auto !important}
    .box-container{min-height: auto;}
    .cont-l{position: fixed !important;z-index: 9999;width: 335px;display: none;}
    .cont-r{padding-left: 0;}
    .more-collec .sp-x .sp-item {width: 319px;}
    .more-collec .img-sp {height: 400px;}
}
@media only screen and (max-width: 768px){
	.search-box{display: none;width: 100%;margin-bottom: 10px;}
	.search-box input{width: 100% !important;}
	.row-seller {width: 1370px;}
	.sort{margin-top: -115px;}
	.tab-exp{width: 100%;}
	.owl-carousel .owl-nav button.owl-prev{left: -10px;}
	.owl-carousel .owl-nav button.owl-next{right: -10px;}
	.tem-pri{margin-top: 0}
	.tit-seller button{font: 20px/30px poppins-b;padding: 0 10px;}
	.tit-seller {font: 20px/30px poppins-b;}
	.tit-exp h2{font-size: 28px;}
	.img-sp img{width: auto !important;}
	.search-mb{margin-top: 10px;cursor: pointer;}
	.search-mb{display: block;}
	.logo img{max-width: 100px;}
	.head-r {margin: 0 !important;}
	.filters-l{position: absolute;left: 1.5rem}
	.modal-dialog {max-width: 95%;}
	.box-trading-1{overflow: hidden;overflow-x: auto;}
	.tbody-scroll{overflow: auto !important!}
	.tbody-scroll .user-table img{display: none;}
	.tag-trade li button{margin-left: 0px !important;}
	.box-mb1{height: 340px;overflow: auto;}
	.box-mb1::-webkit-scrollbar {height: 5px; width: 5px;}
	.box-mb1::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px #242731; 
	    -webkit-border-radius: 10px;
	    border-radius: 10px;} 
	.box-mb1::-webkit-scrollbar-thumb {
	    -webkit-border-radius: 10px;
	    border-radius: 10px;
	    background: #8077FF; 
	    -webkit-box-shadow: inset 0 0 6px #242731;}
	.box-mb{width: 693px;;}
	.tbody-scroll {overflow: inherit !important;height: auto;}
	.date-trad{background: no-repeat;padding-right: 0;}
	.button-p1 a{padding: 0;width: 100%;text-align: center;}
	.table-place{overflow-x: auto !important;}
	.table-place::-webkit-scrollbar {height: 5px;}
	.table-place::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px #242731; 
	    -webkit-border-radius: 10px;
	    border-radius: 10px;} 
	.table-place::-webkit-scrollbar-thumb {
	    -webkit-border-radius: 10px;
	    border-radius: 10px;
	    background: #8077FF; 
	    -webkit-box-shadow: inset 0 0 6px #242731;}
	.table-place .table-trading{width: 600px;}
    .search-li {width: 288px;}
    .filter-listing .chosse {width: 100%;}
	.col-wr, .col-wl{width: 100%;}
    .more-collec .sp-x .sp-item {width: 319px;}
    .filter-top .search-game {width: 230px;}
    .filter-top .chosse {width: auto;}
    .filter-top .search-colletion input{line-height: 38px;}
}
@media only screen and (max-width: 415px){
	.search-game, .filter-top .search-game {width: 100%;margin-right: 0 !important;}
	.img-sp {height: 410px;}
	.sp-x .sp-item{    width: 315px;}
    .filter-inven select {width: 171px;}
    .search-li {width: 100%;margin-right: 0 !important;}
    .filter-listing select {width: 100%;}
    .more-collec .sp-x .sp-item {width: 356px;}
    
}
@media only screen and (max-width: 384px){
	.sell-nft{padding-left: 25px;padding-right: 25px;}
    .more-collec .sp-x .sp-item {width: 317px;}
}
@media only screen and (max-width: 360px){
    .more-collec .sp-x .sp-item {width: 302px;}
    .more-collec .img-sp {height: 377px;}
}
@media only screen and (max-width: 320px){
    .head-r .me-3{margin-right: 10px !important;}
    .cont-l{width: 300px;}
}